# Python
__pycache__/
*.pyc
*.pyo




# Environment
.env
.venv/

# Uploads / temp
uploads/

# Node (if any frontend)
node_modules/

# 🔥 ML Models (IMPORTANT)
model/*.pkl
model/*.h5

# Data files (optional but recommended)
data/
