@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-hide::-webkit-scrollbar-thumb {
    background: rgba(225, 191, 99, 0.35);
    border-radius: 10px;
  }
}
